body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

a {
    text-decoration-style: none;
    color: white;
}

.header-logo {
    font-size: clamp(1.2rem, 2.5vw, 2rem); 
    font-weight: 700;
    padding: 15px;
}

.intro {
    background-color:#1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    /* May be temporary: */
    padding-left: 30px;
}

/* Flex: 1 on .intro-signup and Flex: 1 on intro-image make  it 50/50 */
.intro-signup, .intro-image {
    flex: 1;
    min-width: 300px;
}

.intro-image {
    overflow: hidden;
    padding: 20px;
}

.intro-image img {
    width: 100%;
    height: auto;
}

.gallery-title {
    font-size: clamp(1.2rem, 2.5vw, 2rem); 
    text-align: center;
    padding: 15px; 
    font-weight: 800;
}

.gallery-cards { 
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    padding: 50px;
}

.card-img {
    border: 2px solid blue;
    border-radius: 5px;
    /* object-fit: cover; */
    width: 100%;
    aspect-ratio: 1 / 1;
}

.card {
    width: 150px; }

.banner {
    background-color: #3882F6;
    color: white;
}

.big-quote {
    background-color: #E5E7EB;
    padding: 60px 50px;
}

.quote-text {
    /* font-size: 2.5vw; */
    font-size: clamp(1.2rem, 2vw, 2rem); 
    font-style: oblique;
    text-align: center;
}

.quote-author {
    font-weight: bold;
    text-align: right;
    /* Fix the positioning in a different way : */
    padding: 10px 50px;
}